<div class="menu-container">
    <div class="menu-row">
      <a routerLink="/member-list" class="menu-item">Member List</a>
      <a routerLink="/add-member" class="menu-item">Add Member</a>
    </div>
    <div class="menu-row">
      <a routerLink="/event-list" class="menu-item">Event List</a>
      <a routerLink="/add-event" class="menu-item">Add Event</a>
    </div>
    <div class="menu-row">
      <a routerLink="/statistics" class="menu-item menu-item-full">Statistics</a>
    </div>
  </div>